body #row-verse {
	margin: 0;
}

.central-col {
	background-color: #aef3ffb3;
	min-height: 100px;
	padding: 30px;
}

.form-group {
	padding: 15px;
	border: 3px solid #737373bf;
}

.text-verse {
	margin-top: 15px;
	padding: 15px;
	border: 3px solid #737373bf;
	font-size: 20px;
}

#create-text,
#replace-variables {
	margin-top: 15px;
}